nav {
    box-sizing: border-box;
    text-align: initial;
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: #85d4b7;
}

#navLogo {
    box-sizing: border-box;
    margin-left: 5vw ;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-self: center;
    text-align: left;
    width: 30vw;
    height: 50px;
}



#vegan {
    box-sizing: border-box;
    background-image: url(../img/vegan.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100vw;
    height: 80vh;
    background-color: #6dccaa;
}

footer {
    box-sizing: border-box;
    width: 100vw;
    height: 10vh;
    background-color: #6dccaa;
}

#address, #socials {
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
    width: 40vw;
    height: 10vh;
}

#address {
    margin-left: 1vw ;
    float: left;
}

#socials {
    color: azure;
    margin-right: 1vw;
    text-align: center;
    float: right;
}

#coaching-crowdfunding {
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 800px;
    background-color: white;
}
#coaching {
    box-sizing: border-box;
    text-align:right;
    width: 50%;
    height: 800px;
    background-color: white;
}
#crowdfunding {
    box-sizing: border-box;
    text-align: left;
    width: 50%;
    height: 800px;
    background-color: white;
}


#eetcafe {
    box-sizing: border-box;
    text-align: center;
    background-image: url(../img/eetcafe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100vw;
    height: 520px;
    background-color: #ffcf3f;
}

#winkel {
    box-sizing: border-box;
    text-align: center;
    width: 100vw;
    height: 500px;
    background-color: rgb(221, 208, 208);
}