@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#raleway{
    color: #404040;
    font-family: Raleway-Regular;
}

#montserrat{
    color: #333333;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}